# ── PostgreSQL Scraper ─────────────────────────────
SCRAPER_DB_USER=your_user
SCRAPER_DB_PASSWORD=your_password
SCRAPER_DB_NAME=freework
SCRAPER_DB_HOST=postgres-scraper
SCRAPER_DB_PORT=5432

# ── Airflow ────────────────────────────────────────
FERNET_KEY=your_fernet_key        
AIRFLOW_UID=50000

# ── Scraper HTTP ───────────────────────────────────
USER_AGENT=your_user_agent